# Build and Release Folders
docs/build/
*.egg-info/

# Other files and folders
secret_keys/*.json
secret_keys/*.txt
secret_keys/*.key
virtual_environments/
ytdb/download/api_key.txt

./config.yml
dev/

.DS_Store

# Executables

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

# 
.ipynb_checkpoints/
.idea/
__pycache__/

#
/experiments/betterjson/output/

# Models
*.pt

# ETL data
etl/data/*.feather
