# Google Interface
google-api-python-client
google-auth-oauthlib
google-auth-httplib2

# Database Interface
tinydb
BetterJSONStorage
blosc2
orjson

# Apriori Models
efficient-apriori

# Dashboarding
dash
plotly

#
pandas
